{% macro render(elementId = null, elementPartId = null, iconPartId = null, buttonText = null, buttonColor = null, buttonLayout = null, buttonSize = null, buttonWidth = null, buttonBorderRadius = null, buttonLetterCase = null) %}{% apply spaceless %}
    {% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
    {% include './template.twig' %}
{% endapply %}{% endmacro %}

{% apply spaceless %}
    {% set buttonElementId = elementId ?: 'button-v3cFFn' %}
    {% set buttonElementPartId = elementPartId ?: 'button-part-0Cq8Xc' %}
    {% set buttonIconPartId = iconPartId ?: 'button-part-icon-f1TI9P' %}
    {% set buttonText = (buttonText ?: properties.buttonText) ?: 'Read more' %}
    {% set buttonWidth = (buttonWidth ?: properties.buttonWidth) ?: 'hl-btn-width-default' %}
    {% set buttonSize = (buttonSize ?: properties.buttonSize) ?: 'hl-btn-size-md' %}
   
    <div x-data="btnElement" data-bsi-element="{{ buttonElementId }}" class="{{ 'bsi-element-' ~ buttonElementId }} bsi-btn-element hl-button-base {{ buttonWidth }} {{ buttonSize }} bsi-btn-icon-hide">
        <a x-init="initBtn" class="" data-bsi-element-part="{{ buttonElementPartId }}" href="#">{{ buttonText }}</a>
        <label hidden class="bsi-icon-identifier" data-bsi-element-part="{{ buttonIconPartId }}">arrow-right</label>
    </div>
{% endapply %}
